<a href="https://colab.research.google.com/github/Sonyalim/hello-world/blob/master/intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
class Example(object):
    def output(self, value):
        if isinstance(value, str):
            return value
        else:
            return "ERROR: String expected!"
    
my_example = Example()

print(my_example.output(5))

In [6]:
print(1+1*2/5)

1.4

In [31]:
# The None type
something = None

# The Boolean type
is_tired = True

#The Integer type
age = 35
print(1+1*2/5)

#The Float type
half = 0.5

#The String type
message = "Hello World"
#you can add strings: concatenation of strings
string1 = 'Hello'
string2 = ' World'
print(string1+string2)


#The List type
numbers = [1,2,3,4]
mixed_list = ['Hello',1,True,None]
matrix = [[1,2],[3,4]]

#list...
empty = []
colours = ['blue', 'red']
print(colours)
print(colours[0])

#The Dictionary type
person = {
    'name':'Ali',
    'age':18,
    'address':{
        'country':'Singapore',
        'zip': '123456'
    }
}

print(type(something))
print(type(is_tired))
print(type(age))
print(type(half))
print(type(message))
print(type(numbers))
print(type(person))

1.4

NameError: ignored

In [33]:
string1 = 'Hello'
string2 = ' World'
print(string1+string2)

Hello World

In [0]:
# The None type
something = None

# The Boolean type
is_tired = True

#The Integer type
age = 35
print(1+1*2/5)

#The Float type
half = 0.5

#The String type
message = "Hello World"

#The List type
numbers = [1,2,3,4]
mixed_list = ['Hello',1,True,None]
matrix = [[1,2],[3,4]]

#The Dictionary type
person = {
    'name':'Ali',
    'age':18,
    'address':{
        'country':'Singapore',
        'zip': '123456'
    }
}

print(type(something))
print(type(is_tired))
print(type(age))
print(type(half))
print(type(message))
print(type(numbers))
print(type(person))

1.4
<class 'NoneType'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [9]:
# The None type
something = None

# The Boolean type
is_tired = True

#The Integer type
age = 35
print(1+1*2/5)

#The Float type
half = 0.5

#The String type
message = "Hello World"
#you can add strings:
string1 = 'Hello'
string2 = ' World'
print(string1,spring2)

#The List type
numbers = [1,2,3,4]
mixed_list = ['Hello',1,True,None]
matrix = [[1,2],[3,4]]

#Tuple
#you create a Tuple by using round brackets
# you cannot change them after creation

colours.append


#The Dictionary type
person = {
    'name':'Ali',
    'age':18,
    'address':{
        'country':'Singapore',
        'zip': '123456'
    }
}

print(type(something))
print(type(is_tired))
print(type(age))
print(type(half))
print(type(message))
print(type(numbers))
print(type(person))

1.4

NameError: ignored

In [0]:
something = None
print(something)
print(type(something))

In [0]:
print(is_tired)

In [0]:
age = 35
print(age)

In [0]:
print(5+5)
print(10-5-5)
print(2*2)

In [0]:
# Careful when you divide integers!
# In Python 2.7, when you divide 2 integers, the result is a whole number.
# In Python 3.x, the result will be a float.

print(22/10)

In [0]:
half = 0.5

print(half)
print(1/2)
print(1/2.0)

In [0]:
name = "Ali"
name = 'Ali'

message = 'He said:\n"Let\'s do this"'
print(message)

In [0]:
string1 = 'Hello'
string2 = 'World'

print(string1 + " " + string2)

In [0]:
address = 'Tampines Str 21'
address = address.replace('Str', 'Street')
print(address)

In [0]:
age = 35
message = 'I am {} years old'.format(age)
print(message)

In [0]:
empty = []
colours = ['blue','red']
print(colours)
print(colours[0])

In [0]:
# You can add items to a list

colours = ['blue','red'] #already defined above

colours.append('green')
print(colours)

colours.insert(0,'black')
print(colours)

In [0]:
colours = ('blue','red')
print(colours)

# This line will crash, cause an error
colours.append('green')

In [11]:
person = {
    'name':'Ali',
    'age':18,
    'address':{
        'country':'Singapore',
        'zip': '123456'
    }
}

print(person)
print(person['name'])
print(person['address']['country'])

{'name': 'Ali', 'age': 18, 'address': {'country': 'Singapore', 'zip': '123456'}}
Ali
Singapore

In [0]:
person = {
    'name':'Ali'
}

person['age'] = 35


print(person)

In [0]:
print(person.keys())

# Functions

In [0]:
def squared(value):
    return value * value

#anything that has not been indented to the right is not part of the function.
results = squared(2)

print(results)

In [0]:
def concat(string1, string2):
    return string1 + ' ' + string2

result = concat('Hello', 'World')

print(result)

In [13]:
def address(name, country, city, street, postcode):
    return '{}\n{}\n{} {}\n{}'.format(name, street, city, postcode, country)

result = address('Sophia', 'Singapore', 'Singapore', '8 Claymore Hill', 229572)
print(result)

Sophia
8 Claymore Hill
Singapore 229572
Singapore

In [14]:
def address(name=None, 
            country='Singapore', 
            city='Singapore', 
            street=None, 
            postcode=None):
    return '{}\n{}\n{} {}\n{}'.format(name, street, city, postcode, country)

result = address(name='Sophia', street='8 Claymore Hill', postcode=229572)
'''
there is no need to input 'Singapore' because 
they were already specified as default values 
for the 2 arguments city and country.
'''

print(result)

Sophia
8 Claymore Hill
Singapore 229572
Singapore

# Classes

In [0]:
#capitalise first letter of the CLASS name...
#assign attributes...
class Animal(object): #it is convention to capitalize class names
    legs=4
    speed=0
    
    def run(self):
        self.speed=10
        
# for explanation of self, refer to:
# https://pythontips.com/2013/08/07/the-self-variable-in-python-explained/

In [16]:
my_pet = Animal()
my_pet.run()

print(my_pet.speed)

10

In [0]:
class Dog(Animal):
    def bark(self):
        print('WOOF! WOOF!')

In [18]:
my_terrier = Dog()


my_terrier.bark()

my_terrier.legs

WOOF! WOOF!

4

In [0]:
my_terrier.speed
#speed of dog before running
#note that speed was defined in the parent/super class named Animal

In [0]:
my_terrier.run()
my_terrier.speed
#speed of dog after running
#note that the method run() was defined in the parent/super class named Animal

In [0]:
import datetime

my_date = datetime.datetime(2018,12, 24) 
#my_date is an instance of the datetime class

print(my_date.isoweekday()) # isoweekday is a function of the datetime class
print(my_date.year) # year is an attribute of the datetime class

# The  if statement

In [0]:
age=35

if age>18: #the other comparisons are >=, <=, <, ==
    print("You are older than 18.")

In [0]:
age=17

if age>18: 
    print("You are older than 18.")
else:
    print('You are not older than 18.')

In [0]:
age=100

if age>18:
    print('You are older than 18.')
elif age==100:
    print('You are really old!')
else:
    print('You are not older than 18.')

In [0]:
age=100

if age==100:
    print('You are really old!')
elif age>18:
    print('You are older than 18.')
else:
    print('You are not older than 18.')

In [0]:
this=1
that=3
something=4

if (this==1 or that>2) and something<5:
    print("WOW!")

# The for loop

In [19]:
people = ['Bob', 'Eve', 'Steve', 'Tim']

for person in people:
    print(person)
    
print(person) #this line prints Tim since it is the final item.*importance of indentation

Bob
Eve
Steve
Tim
Tim

In [21]:
for person in people:
    if person =='Eve':
        print(person)
        
    print(person)

Bob
Eve
Eve
Steve
Tim

In [22]:
for person in people:
    if person =='Eve':
        print(person)
        break
    print(person) #'break' stops...

Bob
Eve

In [23]:
for person in people:
    if person =='Eve':
        print(person)

Eve

In [24]:
for person in people:
    if person =='Eve':
        continue        
    print(person)

Bob
Steve
Tim

# The while loop

In [25]:
# while loop .it will continue running until the condition falls false
counter = 0

while counter<10:
    print(counter)
    counter+=1 # this is the same as counter = counter + 1

0
1
2
3
4
5
6
7
8
9

In [26]:
text = 'This is some text'
#Slicing...

print(text[5:])

is some text

In [28]:
print(text[:5]) # this will give 'This' plus a space...

This

In [29]:
print(text[:-5])

This is some

In [30]:
print(text[5:-5])

is some

In [0]:
# The None type
something = None

# The Boolean type
is_tired = True

#The Integer type
age = 35
print(1+1*2/5)

#The Float type
half = 0.5

#The String type
message = "Hello World"

#The List type
numbers = [1,2,3,4]
mixed_list = ['Hello',1,True,None]
matrix = [[1,2],[3,4]]

#The Dictionary type
person = {
    'name':'Ali',
    'age':18,
    'address':{
        'country':'Singapore',
        'zip': '123456'
    }
}

print(type(something))
print(type(is_tired))
print(type(age))
print(type(half))
print(type(message))
print(type(numbers))
print(type(person))

1.4
<class 'NoneType'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [0]:
# The None type
something = None

# The Boolean type
is_tired = True

#The Integer type
age = 35
print(1+1*2/5)

#The Float type
half = 0.5

#The String type
message = "Hello World"

#The List type
numbers = [1,2,3,4]
mixed_list = ['Hello',1,True,None]
matrix = [[1,2],[3,4]]

#The Dictionary type
person = {
    'name':'Ali',
    'age':18,
    'address':{
        'country':'Singapore',
        'zip': '123456'
    }
}

print(type(something))
print(type(is_tired))
print(type(age))
print(type(half))
print(type(message))
print(type(numbers))
print(type(person))

1.4
<class 'NoneType'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [0]:
# The None type
something = None

# The Boolean type
is_tired = True

#The Integer type
age = 35
print(1+1*2/5)

#The Float type
half = 0.5

#The String type
message = "Hello World"
#you can add strings:
string1 = 'Hello'
string2 = ' World'
print(string1,spring2)

#The List type
numbers = [1,2,3,4]
mixed_list = ['Hello',1,True,None]
matrix = [[1,2],[3,4]]

#The Dictionary type
person = {
    'name':'Ali',
    'age':18,
    'address':{
        'country':'Singapore',
        'zip': '123456'
    }
}

print(type(something))
print(type(is_tired))
print(type(age))
print(type(half))
print(type(message))
print(type(numbers))
print(type(person))

1.4

NameError: ignored

https://ga.co/sgintro

https://www.kaggle.com/